.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #222;
    height: 200px;
    padding: 20px;
    color: white;
}

.App-title {
    font-size: 1.5em;
}

.header-menu-button {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    margin: 0px 5px;
}

.header-menu-button:hover {
    text-decoration: underline;
    cursor: pointer;
}

.flex-item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px auto;
    max-width: 400px;
}

@keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}