.App {
  text-align: center;
}

.App-intro {
  font-size: large;
}

.desc {
  max-width: 800px;
  margin: 20px auto 0px;
  padding: 0px 60px;
}

@media screen and (max-width: 678px) {
  .desc {
    padding: 0px 15px;
  } 
}